<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>切片生成</title>
    <script>
        var contextPath = "${ctxPath}";
    </script>

    <script src="${ctxPath}/lib/require.min.js"></script>
    <style>
        body, html {
            height: 100%;
            padding: 0px;
            margin: 0px;
        }

        .viewport {
            padding: 50px 15px 0px 15px;
            height: 100%;
        }
    </style>
</head>
<body>
<nav id="common-nav" class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:0px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="${ctxPath}/img/bazel-navbar.svg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="hidden-sm">GitHub</span>
                        <span class="nav-icon visible-sm"><i class="fa fa-github"></i></span>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="#" id="cse-search-box">
                <div class="form-group">
                    <input type="hidden" name="cx" value="012346921571893344015:xv_nfgpzbu4">
                    <input type="hidden" name="cof" value="FORID:10">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="search" name="q" class="form-control input-sm" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="${ctxPath}/vectortile/index">矢量切片Demo</a>
                </li>
                <li>
                    <a href="${ctxPath}/generate/index">切片下载Demo</a>
                </li>
                <li>
                    <a href="#">
                        <span class="hidden-sm">Blog</span>
                        <span class="nav-icon visible-sm"><i class="fa fa-rss"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/bazelbuild">
                        <span class="visible-xs">Twitter</span>
                        <span><i class="nav-icon fa fa-twitter hidden-xs"></i></span>
                    </a>
                </li>
                <li>
                    <a href="http://stackoverflow.com/questions/tagged/bazel">
                        <span class="visible-xs">StackOverflow</span>
                        <span><i class="nav-icon fa fa-stack-overflow hidden-xs"></i></span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="viewport">
    <div class="row" style="height:100%;">
        <div class="col-md-2" style="height:100%;padding-left: 0px;padding-right: 0px;">
            <div class="panel panel-danger" style="margin-bottom:0px;border: 0px;">
                <div class="panel-heading" style="border: 0px;">矢量切片</div>
                <div class="panel-body" style="border: 0px;">
                    <button type="button" id="tool-vectortile" class="btn btn-primary">绘制区域</button>
                </div>
            </div>

            <div class="panel panel-danger" style="margin-bottom:0px;border: 0px;">
                <div class="panel-heading" style="border: 0px;">生成切片</div>
                <div class="panel-body" style="border: 0px;">
                    <button type="button" id="tool-draw" class="btn btn-primary">绘制区域</button>
                </div>
            </div>
        </div>
        <div class="col-md-10" id="map" style="height:100%;padding-left: 0px;padding-right: 0px;">

        </div>
    </div>
</div>
<script>
    require.config({
        baseUrl: contextPath,
        map: {
            '*': {
                'css': './lib/css.min.js',
                'text': './lib/text.min.js',
                'json': './lib/json.min.js',
            }
        },
        // urlArgs:'v='+(new Date()).getTime(),//清除缓存
        paths: {
            'jQuery': './lib/jquery-1.11.3.min',
            'bootstrap': './lib/bootstrap/js/bootstrap.min',
            'ol': './lib/openlayers/ol',
            'map': './model/map'
        },
        shim: {
            'jQuery': {
                exports: 'jQuery'
            },
            'bootstrap': {
                deps: [
                    'jQuery',
                    'css!./lib/bootstrap/css/bootstrap.min.css'
                ]
            },
            'ol': {
                deps: ['css!./lib/openlayers/ol.css']
            },
            'map': {
                deps: ['jQuery', 'bootstrap', 'ol']
            }
        }
    });

    require(['map'])
</script>

</body>
</html>